[Unit]
Description=Garmin-kaarten bijwerken in QMapShack en op aangesloten Garmin-toestellen
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/kaarten-update
Nice=10
IOSchedulingClass=idle
